<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.cqu.boot.mapper.DoctorMapper">
    <select id="searchAll" resultType="cn.edu.cqu.boot.entity.Doctor">
        select * from doctor
    </select>
    <select id="searchDoctorByDoctorId" parameterType="int" resultType="cn.edu.cqu.boot.entity.Doctor">
        select * from doctor where doctorId=#{doctorId}
    </select>
</mapper>