<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.cqu.boot.mapper.PatientMapper">
    <select id="searchAll" resultType="cn.edu.cqu.boot.entity.Patient">
        select * from patient
    </select>
    <insert id="addPatient" parameterType="cn.edu.cqu.boot.entity.Patient">
        insert into patient(patientName,patientGender,patientAge,patientAddress,patientPhone,patientDoctor)
        values(#{patientName},#{patientGender},#{patientAge},#{patientAddress},#{patientPhone},#{patientDoctor})
        <selectKey resultType="int" keyProperty="patientId" order="AFTER">
            <!--当前连接中最后产生的id号-->
            select last_insert_id()
        </selectKey>
    </insert>
</mapper>